{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django blog</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

	<!-- CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<!-- Include Datatables plugin script and css -->
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
	</style>
</head>
<body>


    <!-- BEGIN LOADING HEADER HERE -->
    {% include 'includes/header.html' %}
    <!-- END LOADING HEADER -->

    <!-- BEGIN LOADING CONTENT HERE -->
    {% block content %}
        <!-- CONTENT GOES HERE -->
    {% endblock  %}
    <!-- END LOADING CONTENT -->

    <!-- BEGIN LOADING FOOTER HERE -->
    {% include 'includes/footer.html' %}
    <!-- END LOADING FOOTER -->